.head {
    background-color: lightblue;
    height: 500px;
}

#intro h1 {
    text-align: center;
    color: white;
    font-size: 80px;
}

#intro h2 {
    text-align: center;
    color: bisque;
}

#intro p {
    width: 600px;   
    text-align: center;
    margin-left: 375px;
    color: grey;
}

.head img {
    width: 100px;
    margin-top: 50px;
    margin-left: 130px;
}

#aboutme h1, h3 {
    text-decoration: underline;
    margin: 50px 50px;
    text-decoration-thickness: 3px;
    text-decoration-color: gray;
}

#aboutme p .name {
    color: chocolate;
}

code {
    background-color: aliceblue;
}

.description {
    width: 800px;
}

.left {
    margin-left: 50px;
    font-size: large;
}

.right {
    margin-left: 600px;
    margin-right: 50px;
    font-size: large;
    text-align: right;
}